# ML model for AURA CHARGE

First lets discuss about the dataset now.

In [5]:
import pandas as pd

df = pd.read_csv("dataset.csv")
df.head()

,Timestamp,Voltage (V),Current (A),Temperature (°C),SOC (%),SOH (%),Cycles
0,2024-12-10 22:17:53.285091,3.521483,0.015893,29.278174,0.0000,99.371976,445
1,2024-12-10 22:18:03.285091,3.603086,0.585549,36.445976,0.1001,92.351841,183
2,2024-12-10 22:18:13.285091,3.528906,0.595920,35.506323,0.2002,97.243869,66
3,2024-12-10 22:18:23.285091,4.132919,0.294674,34.934399,0.3003,85.484806,486
4,2024-12-10 22:18:33.285091,3.807145,1.256976,36.193535,0.4004,96.500342,282